# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Output folder for processed/curated data
/output/

# VSCode settings
.vscode/

# Environment variables or Firebase config
.env
.env.local

# Optional secret override file (not committed)
src/stationOverrides.ts


